
/* CSS files add styling rules to your content */

@font-face{

  font-family: tag_font;
  src: url(https://cdn.glitch.com/e93017c0-53cc-4d49-b6a9-bcc10fdba0ab%2FSpaceGrotesk-Regular.woff?v=1597588739448);


}

@font-face {

  font-family: bluunext;
  src: url(bluunext-bold-webfont.woff);
}

a {

text-decoration: none;
color: black;

}

html{

background: black;
}

.index {

background-image: url("images/pathway5.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
height: 2000px;

}

.entermap {

background-color: white;
border: 1px ;
padding-left: 20px;
padding-right: 20px;
width: 200px;
margin-top: 50px;
margin-left: 45%;
margin-right: 45%;
border-style: solid;
border-color: yellow;
font-family: bluunext;
color:black;
font-size: 20px;
box-shadow: 5px 5px 15px yellow;

}

.explain {

width: 50%;
border: 1px ;
border-style: solid;
border-color: yellow;
/* border-radius: 100px; */
padding: 30px;
background-color: white;
font-size: 14px;
color: black;
float: left;
margin-left: 25%;
margin-top: 20px;
margin-bottom: 0px;
box-shadow: 5px 5px 15px yellow;
border: 1px solid black;


}

/* .explain_pt2 {

position: relative;
width: 21.6%;
border: 1px ;
border-style: solid;
border-color: yellow;
padding: 20px;
background-color: white;
font-size: 12px;
float: left;
margin-top: 0px;
} */

.hellohellohello {

font-size: 18px;

}


/* #buttonbox {

margin: 30px;


} */

#expandbutton {

  width: 26%;
  height: 100px;
  border: 2px;
  border-style: inset;
  border-color: yellow;
  background-color: lightyellow;
  font-family: bluunext;
  font-size: 50px;
  text-align: left;
  padding-left: 20px;
  margin-right: 90%;
  float: left;
  box-shadow: 5px 5px 15px yellow;
  border: 1px solid black;


}

#expandbutton:focus {

outline:none;

}


.infoblockhome {

position: absolute;
left: 15%;
top: 175px;
background-color: white  ;
font-family: tag_font;
font-size: 15px;
width: 300px;
height: 443px;
box-shadow: 5px 5px 15px yellow;
border: 1px solid black;
}

.iconshome {

height: 100px;
width: 100px;
border: 1px;
border-color: black;
border-style: solid;
position: relative;
/* margin-left:  460px; */
margin-top: 10px;
margin-bottom: 93px;
margin-left:50px;
font-size: 20px;
padding: 5px;
text-align: center;

background-color: white;
font-family: tag_font;
/* box-shadow: 5px 5px 15px black; */
box-shadow: 5px 5px 15px yellow;
/* background-image: url("images/care.png");
background-repeat: no-repeat;
background-size: contain; */

}

.leave {

background-color: white;
border: 1px ;
padding-left: 20px;
padding-right: 20px;
border-style: solid;
border-color: yellow;
margin-top: 1000px;
margin-left: 25%;
font-family: bluunext;
color:black;
font-size: 20px;
box-shadow: 5px 5px 15px yellow;

}

.earthand {

text-decoration: underline;

}

	#lets {
    border-collapse:collapse;
    background:yellow;
    table-layout: fixed;
    height: 709px;
    width: 600px;
    margin-left: 40%;
    margin-right: 30%;
    position: absolute;
    top: 11px;



	}
	#lets caption {
		caption-side:bottom;
		text-align:left;
    font-size: 12px;
    padding: 20px;
    margin-top: 15px;
    background: floralwhite;

	}
	#lets th {
		background:#00292E;

	}
	#lets td {
    border: 1px solid floralwhite;

	}




  }

  body {

  background: black;
  font-family: tag_font;


  }

.fibre_plant_id {

  width: 300px;
  height: 400px;
background-repeat: no-repeat;
background-size: 100% 100%;
}

#fibre_plant_id_name {

font-size: 16px;
font-family: tag_font;
margin: 10px;

}


.dye_plant_id {

  width: 300px;
  height: 400px;
background-repeat: no-repeat;
background-size: 100% 100%;

}

#dye_plant_id_name {

  font-size: 16px;
  font-family: tag_font;
  margin: 10px;}



.food_plant_id {

width: 300px;
height: 400px;
background-repeat: no-repeat;
background-size: 100% 100%;
}

#food_plant_id_name {

  font-size: 16px;
  font-family: tag_font;
  margin: 10px;
}


.wood_plant_id {

  width: 300px;
  height: 400px;
background-repeat: no-repeat;
background-size: 100% 100%;

}

#wood_plant_id_name {

  font-size: 16px;
  font-family: tag_font;
  margin: 10px;
}


  .quince {
  background-image: url(https://d2w9rnfcy7mm78.cloudfront.net/8020510/original_86c898d82c477b756a8e5da99db98504.jpg?1594864756?bc=0);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }

.quince_alt {

  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/8349639/large_2221d6b4578c6d798d402d7ea6c3cd94.jpg?1597578906?bc=0");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px;
}

.plum {

/* background-image: url("images/plum tree.jpg"); */
background-color: lightyellow;

}

.food_N4 {

  background-color: lightyellow;


}

.food_N3 {

  background-color: lightyellow;


}

.food_N2 {

  background-color: lightyellow;


}

.food_N {

  background-color: lightyellow;


}

.nettle_n_such {

  background-color: lightyellow;


}

.nettle_alt {

background-color: lightyellow;


}

.fruit_trees {

background-color: lightyellow;

}

.bark {

/* background-image: url("images/bark.jpg"); */
background-color: lightyellow;

}

.bark_alt {

/* background-image: url("images/bark2.jpg"); */
background-color: lightyellow;

}

.nettlenettlenettle{

  /* background-image: url("images/nettle2.jpg"); */
  background-color: lightyellow;

}

.spruce {

  /* background-image: url("images/Spruce tree.jpg"); */
  background-color: lightyellow;


}

.paulownia {

  /* background-image: url("images/paulowniatree.jpg"); */
  background-color: lightyellow;


}

.blackberry {

/* background-image: url("images/Blackberry (Himalayan and thornless).jpg") */
background-color: lightyellow;

}


.willow {

  /* background-image: url("images/willow3.jpg") */
  background-color: lightyellow;


}

.iloveyou {


/*this ones just for me*/

}

.bushel {

background-color: #4d4d00;

}

.and_a_peck {

background-color: #304701;


}

.a_hug {

  background-color: Ivory;


}

.around_the_neck {

background-color: LightGoldenRodYellow;

}

.and_a_barrel {

background-color: #698000;

}

.andaheap {

  background-color: #3b5900;

}

.im_talkin{

background-color: #1b2603;

}

.inmysleep {

  background-color: #baba02;


}

.about_you {

background-color: #a8ba02;

}

.causeiloveu{

background-color: #293d01;

}


.heyo {

background-color: #4d4d00;

}

.windand {

background-color: #999900;

}

.therain {

  background-color: #2b2b00;

}



#frame_test {


width: 100%;
height: 2000px;
margin: 0px;
padding: 0px;
background-repeat: no-repeat;
background-position: left; /* Center the image */
background-size: cover;
transition: 0.4s;

}

.column_layout {

margin-top: 0px;

}

h1 {

/* margin-left: 555px; */
margin-top: 20px;
border-top: 2px;
border-bottom: 2px;
border-left: 0px;
border-right: 0px;
border-style: solid;
border-color: yellow;
color: black;
padding: 40px;
padding-bottom: 10px;
padding-top: 10px;

font-family: bluunext;
color: black;
text-shadow: 5px 2px 5px yellow;
position: relative;
box-shadow: 5px 5px 15px yellow;
background-color: White;



}

.info {

  margin-left: 555px;
  margin-top: 0px;
  color: black;
  padding: 0px;
  font-family: tag_font;
  height: 900px;
  box-shadow: 5px 5px 15px yellow;


}

.icons {

height: 100px;
width: 100px;
border: 1px;
border-color: black;
border-style: solid;
position: relative;
/* margin-left:  460px; */
margin-top: 5px;
margin-bottom: 10px;
margin-left:50px;
font-size: 20px;
padding: 5px;
text-align: center;

background-color: white;
font-family: tag_font;
/* box-shadow: 5px 5px 15px black; */
box-shadow: 5px 5px 15px yellow;
/* background-image: url("images/care.png");
background-repeat: no-repeat;
background-size: contain; */

}

.icons p {

}

.icons img {

height: 50px;
width: 50px;

}


.righthandline {

border-right: 2px;
border-left: 0px;
border-top: 0px;
border-bottom: 0px;
width: 550px;
padding-bottom: 10px;
padding-top: 10px;
border-style: solid;
border-color: black;
box-shadow: 5px 5px 15px yellow;


}

.letsgo {

background-color: white;
border: 1px ;
padding-left: 20px;
padding-right: 20px;
border-style: solid;
border-color: yellow;
position: absolute; left: 725px; top: 400px;
font-family: bluunext;
color:black;
font-size: 20px;
box-shadow: 5px 5px 15px yellow;

}
.gohome {

background-color: white;
border: 1px ;
padding-left: 20px;
padding-right: 20px;
border-style: solid;
border-color: yellow;
position: absolute; left: 1000px; top: 400px;
font-family: bluunext;
color:black;
font-size: 20px;
box-shadow: 5px 5px 15px yellow;

}

.facts {

transform: rotate(90deg);
z-index: +1;
position: absolute; left:400px; top: 200px;
font-size: 40px;
color: black;

text-shadow: 5px 2px 10px yellow;
font-family: bluunext;

}

.infoblock {

position: absolute;
left: 200px;
top: 150px;
background-color: white  ;
font-family: tag_font;
font-size: 15px;
width: 300px;
height: 450px;
box-shadow: 5px 5px 15px yellow;
border: 1px solid black;
}

h2 {

  font-size: 20px;
  font-family: tag_font;
  padding: 10px;
}

.textblock {

padding: 10px;
margin-top: 4 0px;
font-size: 14px;

}

.finderlist {

background-color: floralwhite;
font-size: 15px;
color: black;
margin-left: 20px;
margin-bottom: 20px;
width: 30%;
padding-left: 20px;
padding-bottom: 20px;
font-family: tag_font;
border: 2px solid yellow;
line-height: 24px;
}


.finderheading {

  padding:  0px;
}


.infoblock: target {

display: block;


}


/* #info  {

display: block;
box-shadow: 5px 5px 15px yellow; */
span{

  font-size: 12px;

}
